[submodule "Core"]
	path = Core
	url = git@github.com:castcle/Core-iOS.git
[submodule "Feed"]
	path = Feed
	url = git@github.com:castcle/Feed-iOS.git
[submodule "Search"]
	path = Search
	url = git@github.com:castcle/Search-iOS.git
[submodule "Component"]
	path = Component
	url = git@github.com:castcle/Component-iOS.git
