//
//  Staging.xcconfig
//  Castcle-iOS
//
//  Created by Castcle Co., Ltd. on 10/7/2564 BE.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "Pods/Target Support Files/Pods-Castcle-iOS/Pods-Castcle-iOS.debug (staging).xcconfig"
#include "Pods/Target Support Files/Pods-Castcle-iOS/Pods-Castcle-iOS.release (staging).xcconfig"

// App Settings
APP_NAME = Staging
APP_BUNDLE_ID = com.castcle.ios.stg
APP_VERSION = 1.1.0
APP_URL_SCHEMES = castcle-stg

// Key
FIREBASR_CONFIG_FILE = GoogleService-Info-Stg
