//
//  Test.xcconfig
//  Castcle-iOS
//
//  Created by Castcle Co., Ltd. on 13/12/2564 BE.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "Pods/Target Support Files/Pods-Castcle-iOS/Pods-Castcle-iOS.debug (test).xcconfig"
#include "Pods/Target Support Files/Pods-Castcle-iOS/Pods-Castcle-iOS.release (test).xcconfig"

// App Settings
APP_NAME = Test
APP_BUNDLE_ID = com.castcle.ios.test
APP_VERSION = 1.1.0
APP_URL_SCHEMES = castcle-test

// Key
FIREBASR_CONFIG_FILE = GoogleService-Info-Test
