<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>force_version</key>
	<dict>
		<key>ios</key>
		<dict>
			<key>version</key>
			<string>9.9.9</string>
			<key>url</key>
			<string>https://apps.apple.com/app/castcle-decentralized-social/id1593824529</string>
		</dict>
	</dict>
</dict>
</plist>
